body
  font-family: sans-serif
  background-image: linear-gradient(to bottom, #D2B48C, #FFEFD5 100%)
  background-attachment: fixed
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 0
  margin: 0
  font-size: 14px


.container
  max-width: 95%
  margin: 0 auto
  min-height: 100%


.options
  width: 100%
  display: flex
  justify-content: space-between


.sorting-criteria
  cursor: pointer
  float: left
  display: inline-block
  padding-left: 30px

  span
    padding: 0 16px

  .active
    background-color: #D2B48C

  > *
      line-height: 2em


form
  margin: 40px


.search-input
  float: right
  padding-right: 30px

  > label
    line-height: 2em

.search-input-item
  padding: 0 16px


.search-highlighting
  background-color: #D2B48C


table
  width: 90%
  border-collapse: collapse
  border: 3px solid grey
  margin-left: auto
  margin-right: auto


td,
th
  border: 1px solid grey
  padding: 10px 15px


.mainTable
  padding-bottom: 70px


header h2
  text-align: center
  padding-top: 25px


#page-numbers
  cursor: pointer
  float: right
  display: inline-block
  padding: 25px

  span
    padding: 8px 16px

  .active
    background-color: #D2B48C


