/*body {*/
  /*font-family: sans-serif;*/
  /*background-image: linear-gradient(to bottom, #D2B48C, #FFEFD5 100%);*/
  /*background-attachment: fixed;*/

  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/

  /*padding: 0;*/
  /*margin: 0;*/

  /*font-size: 14px;*/
/*}*/

/*header h2 {*/
  /*text-align: center;*/
  /*padding-top: 25px;*/
/*}*/

/*.container {*/
  /*max-width: 95%;*/
  /*margin: 0 auto;*/

  /*min-height: 100%;*/
  /*background: white;*/
/*}*/

/*form {*/
  /*margin: 40px;*/
/*}*/

/*.mainTable {*/
    /*padding-bottom: 70px;*/
/*}*/

/*table {*/
  /*width: 90%;*/
  /*border-collapse: collapse;*/
  /*border: 3px solid grey;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/

/*td {*/
  /*border: 1px solid grey;*/
  /*padding: 10px 15px;*/
/*}*/

/*th {*/
  /*border: 1px solid grey;*/
  /*padding: 10px 15px;*/
/*}*/

/*.sorting-criteria {*/
    /*cursor: pointer;*/
    /*float: left;*/
    /*display: inline-block;*/
    /*padding-left: 30px;*/
/*}*/

/*.sorting-criteria span {*/
    /*padding: 0 16px;*/
/*}*/

/*.sorting-criteria .active {*/
    /*background-color: #D2B48C;*/
/*}*/

/*.sorting-criteria > *,*/
/*.search-input > label {*/
    /*line-height: 2em;*/
/*}*/

/*#page-numbers {*/
    /*cursor: pointer;*/
    /*float: right;*/
    /*display: inline-block;*/
    /*padding: 25px;*/
/*}*/

/*#page-numbers span {*/
    /*padding: 8px 16px;*/
/*}*/

/*#page-numbers .active {*/
    /*background-color: #D2B48C;*/
/*}*/

/*.intro {*/
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/

/*.search-input {*/
    /*float: right;*/
    /*padding-right: 30px;*/
/*}*/

/*.search-input-item {*/
    /*padding: 0 16px;*/
/*}*/

/*.red-highlighting {*/
    /*background-color: #D2B48C;*/
/*}*/